.git
.github
.next
.vercel
node_modules
npm-debug.log*
next-dev.log
.next-dev.*.log
.env
.env.production
.env*.local
coverage
tools/cloudflared/cloudflared.exe
tools/cloudflared/*.log
tools/cloudflared/*.json
tools/cloudflared/*.pem
tools/cloudflared/config.yml
